<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuprincipal"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/profile">
                <img class="img-responsive" src="images/logo-top.5b7a047d.svg" alt="{{appTitle}}" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menuprincipal">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li>
                    <a href="#!/conteudo">Conteúdo</a>
                </li>
                <li>
                    <a href="#!/dicas">dicas</a>
                </li> -->
                <li>
                    <a href="#!/profile">(1) {{'Menu.Inscricao' | translate}}</a>
                </li>
                <li>
                    <a href="#!/hospedagem">(2) Hospedagem</a>
                </li>
                <li>
                    <a href="#!/transporte">(3) Transporte</a>
                </li>
                <li>
                    <a href="#!/upload">(4) Upload Passagem Aérea</a>
                </li>
                <li>
                    <a href="" ng-click="logout()">
                        <span class=' glyphicon glyphicon-log-out'></span>{{'Menu.Sair' | translate}}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="page-header clear-filter purple-filter " style="position: relative; overflow: hidden; background-image: url('images/cover.c1d8479f.jpg'); background-size: cover;
background-position: center bottom;">
    <div class="" style="" data-rellax-speed="-1" data-rellax-percentage="0">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <img class="img-responsive page-header-logo" src="images/logo-campanha.3f4d151d.png" alt="{{appTitle}}" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="row" style="position: relative;">
                <div class="col-xs-12">
                    <loading ng-if="stateIsLoading"></loading>
                </div>
                <div ui-view ng-if="!stateIsLoading" class="col-xs-12 col-md-8 col-md-offset-2"></div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="footer">
    <div ng-include="'/views/footer.html'"></div>
    <div class="container">
        <div class="language-select text-center" ng-controller="LanguageselectCtrl" ng-if="Utils.keys(grupo.multilingua.linguas).length > 1">

            <ul class="list-inline" style="margin-bottom: 0;">
                <li><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></li>
                <li ng-repeat="(key, value) in localesNamesWithKeys">
                    <small>
                        <a href="" ng-click="changeLanguage(key)" ng-class="key === currentLocaleDisplayName ? 'text-underline' : ''">
                            <span></span> {{value}}</a>
                    </small>
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>