<div class="v-container">
  <div class="v-container-inner" style="background-image: url('../images/cover.e5c8e1a8.jpg'); background-size: cover; background-position: bottom center;">
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="card card-signup">
                <div class="header header-primary text-center">
                  <h1 class="text-center">
                    <img class="img-responsive" style="display: inline-block" src="images/logo-campanha.3f4d151d.png" alt="{{appTitle}}" />
                  </h1>
                  <br />
                </div>
                <form name="userForm" ng-submit="submitForm(userForm.$valid, email, password)" novalidate>
                  <div class="language-select text-center bg-primary" ng-controller="LanguageselectCtrl" ng-if="Utils.keys(grupo.multilingua.linguas).length > 1"
                    style="padding-top: 20px; padding-bottom: 20px; color: white;">

                    <ul class="list-inline" style="margin-bottom: 0;">
                      <li>
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                      </li>
                      <li ng-repeat="(key, value) in localesNamesWithKeys">
                        <small>
                          <a href="" style="color: white;" ng-click="changeLanguage(key)" ng-class="key === currentLocaleDisplayName ? 'text-underline' : ''">
                            <span></span> {{value}}</a>
                        </small>
                      </li>
                    </ul>

                  </div>
                  <div class="content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <input type="email" name="email" class="form-control" ng-model="email" placeholder="{{ 'Insira seu e-mail' | translate }}" ng-keyup="email = email.toLowerCase();">
                      <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">{{'Insira um
                        e-mail válido' | translate}}</p>
                    </div>

                    <div class="input-group" ng-show="grupo.loginPorSenha">
                      <span class="input-group-addon">
                        <i class="material-icons">lock_outline</i>
                      </span>
                      <input type="password" name="password" class="form-control" ng-model="password" placeholder="{{'Digite sua senha' | translate}}">
                    </div>
                  </div>

                  <div class="footer text-center">
                    <div class="row">
                      <div class="col-xs-12">
                        <button type="submit" href="#" class="btn btn-primary" ng-disabled="userForm.email.$invalid || !userForm.email.$viewValue">
                          <i class="material-icons fa-spin" ng-if="stateIsLoading">autorenew</i> Login</button>
                        <div class="alert alert-danger" ng-show="hasError">
                          <span>{{errorMsg | translate}}</span>
                        </div>
                        <p ng-show="grupo.loginPorSenha"> <br> <a href="#">
                          <small>Esqueci minha senha</small>
                        </a></p> 
                      </div>
                      <div class="col-xs-12">
                        <!-- <div ng-include="'/views/footer.html'"></div> -->
                        <div class="alert alert-primary text-center" role="alert" style="margin-bottom: 0;">
                          <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Em caso de
                            dúvidas, entre em contato pelo telefone {{grupo.telefone}} ou pelo
                            e-mail <a href="mailto:{{grupo.email}}">{{grupo.email}}</a></p>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="floating-logo">
      <img src="images/logo-rodape-loggedout.1e26ee43.png" alt="">
    </div>
  </div>
</div>
<!--  -->