<form name="vooForm" ng-submit="processarRespostas()">
    <fieldset>

        <h3>Como será seu transporte para o evento?</h3>

        <div class="form-group">
            <!-- <div class="radio">
                <label>
                    <input type="radio" name="Transporte" ng-model="respostas.Transporte" ng-value="6" required>Carro da Empresa</label>
            </div> -->
            <div class="radio">
                <label>
                    <input type="radio" name="Transporte" ng-model="respostas.Transporte" ng-value="3" required>Carro/Moto</label>
            </div>
            <!-- <div class="radio">
                <label>
                    <input type="radio" name="Transporte" ng-model="respostas.Transporte" ng-value="4" required>Carona</label>
            </div> -->
            <div class="radio">
                <label>
                    <input type="radio" name="Transporte" ng-model="respostas.Transporte" ng-value="2" required>Transfer Sede Nestlé SP</label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="Transporte" ng-model="respostas.Transporte" ng-value="1" required>Aéreo</label>
            </div>
            <!-- <div class="radio">
                <label>
                    <input type="radio" name="Transporte" ng-model="respostas.Transporte" ng-value="5" required>Taxi/Uber</label>
            </div> -->
            <span class="material-icons form-control-feedback" ng-if="respostas.Transporte.$invalid">clear</span>

        </div>

        <h3 ng-if="necessarioDetalhesCarro()">Qual a placa do carro/moto?</h3>

        <div class="form-group" ng-if="necessarioDetalhesCarro()">
            <input type="text" class="form-control" ng-model="respostas.Placa" ng-required="necessarioDetalhesCarro()"/>
            <span class="material-icons form-control-feedback" ng-if="respostas.Placa.$invalid">clear</span>

        </div>

        <h3 ng-show="necessarioDetalhesCarro()">Dará carona para a alguém?</h3>

        <div ng-show="necessarioDetalhesCarro()" class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="DaraCarona" ng-model="respostas.DaraCarona" ng-value="respostaSimDaraCarona" ng-required="necessarioDetalhesCarro()">Sim
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="DaraCarona" ng-model="respostas.DaraCarona" ng-value="respostaNaoDaraCarona" ng-required="necessarioDetalhesCarro()">Não</label>
            </div>
            <span class="material-icons form-control-feedback" ng-if="respostas.DaraCarona.$invalid">clear</span>

        </div>

        <h3 ng-if="daraCarona()">Para quem?</h3>

        <div class="form-group" ng-if="daraCarona()">
            <input type="text" class="form-control" ng-model="respostas.CaronaPara" ng-required="daraCarona()"/>
            <span class="material-icons form-control-feedback" ng-if="respostas.CaronaPara.$invalid">clear</span>

        </div>

        <h3 ng-if="vaiDeCarona()">Quem será o motorista?</h3>

        <div class="form-group" ng-if="vaiDeCarona()">
            <input type="text" class="form-control" ng-model="respostas.CaronaCom" ng-required="vaiDeCarona()"/>
            <span class="material-icons form-control-feedback" ng-if="respostas.CaronaCom.$invalid">clear</span>

        </div>

    </fieldset>
    <button type="submit" class="btn btn-primary"><span translate>Enviar</span></button>
</form>